body {
  margin: 0;
}

.header {
  background: #2f2e41;
  width: 100%;
  height: 520px;
}

.heading {
  position: absolute;
  width: 835px;
  height: 88px;
  left: 100px;
  top: 150px;
  font-family: Nunito Sans;
  font-style: normal;
  font-size: 72px;
  line-height: 98px;
  color: #fff;
}

.avatar {
  position: absolute;
  top: 30px;
  right: 40px;
}

.outer_search {
  display: flex;
  align-items: center;
  width: 721px;
  height: 90px;
  background: #d0cde1;
  border-radius: 15px;
}

.search_icon {
  width: 40px;
  height: 55.61px;
  padding-right: 10px;
}

.inner_search {
  margin: 10px;
  padding: 5px;
  width: 709px;
  height: 60.49px;
  border: none;
  background: #fff;
  border-radius: 15px;
  font-family: Nunito Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 33px;

  /* identical to box height */

  color: black;
}

.search_main {
  display: flex;
  justify-content: center;
  padding: 50px;
}

.heading_explore {
  font-family: Nunito;
  font-style: normal;
  font-size: 56px;
  line-height: 76px;
  color: #3f3d56;
  display: flex;
  justify-content: center;
}

.divider {
  height: 1px;
  background-color: #ccc;
  border: none;
  width: 90%;
}

.container_developer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.account_circle {
  width: 58px;
  height: 110px;
  margin: 10px;
  fill: #7c639f;
}

.developer_name {
  font-family: Nunito;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 49px;
  color: #9f8e63;
  margin-right: 20px;
}

.home__icon {
  width: 24px;
  height: 24px;
  fill: #0768fa;
}

.add_developer {
  background: #7c639f;
  border-radius: 15px;
  width: 350px;
  height: 65px;
  font-family: Nunito Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 49px;
  color: #fff;
  margin: 30px;
}

.message {
  font-family: Nunito Sans;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 49px;
  color: #3f3d56;
  text-align: center;
}

.footer {
  width: 100%;
  height: 96px;
  background: #3f3d56;
}

.footer_heading {
  font-family: Nunito Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 33px;
  color: #fff;
  text-align: center;
}

.developer-header {
  background: #2f2e41;
  width: 100%;
  height: 100px;
}

.header-profile {
  font-weight: 500;
  font-size: 24px;
  line-height: 33px;
  color: #fff;
  text-decoration: none;
  margin: 30px;
}

.all-developers {
  float: right;
}

.developer {
  float: left;
}

.developer-info {
  background-color: #E5E5E5;
  height: 410px;
  width: 100%;
}

.account_circle_info {
  width: 300px;
  height: 300px;
  fill: #7c639f;
  border-radius: 50%;
  margin: 20px;
}

.info_name {
  font-family: Nunito Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 34px;
  line-height: 33px;
}

.designation {
  font-size: 24px;
}

.social_icon {
  width: 30px;
  height: 30px;
  margin-right: 15px;
}

.location {
  font-size:14px;
  margin: 15px;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width:100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}

.modal-main {
  position:fixed;
  background: white;
  width: 40%;
  height: auto;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
}

.display-block {
  display: block;
}

.display-none {
  display: none;
}

.input {
  height: 50px;
  width: 90%;
  background: #FFFFFF;
  border: 1px solid #D0CDE1;
  box-sizing: border-box;
  border-radius: 10px;
  margin:20px;
}

.input-label {
  height: 33px;
  width: 85px;
  left: 322px;
  top: 518px;
  border-radius: 10px;
  font-family: Nunito Sans;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 33px;
  margin-left:20px;
  display: flex;
/* identical to box height */


color: #000000;

}

.margin-20 {
  margin:20px;
}

.submit-form {
width: 20%;
height: 40px;

background: #7C639F;
border-radius: 10px;
color:white;
float: right;
margin-right:20px;
margin-top:10px;

}

.cancel-form {
  width: 20%;
height: 40px;

background: #3F3D56;
border-radius: 10px;
color:white;
margin-right:20px;
margin-top:10px;
margin-left: 390px;
}

.avatar_image {
  border-radius: 50%;
  height: 80px;
  margin: 10px;

}

.values {
  display: grid;
    grid-template-columns: repeat(2,minmax(0,1fr));
}

.container_developer_info {
  display: flex;
  align-items: center;
  justify-content: left;
}

.profile_icons {
  display: contents;
  margin-left: 20px;
}

.github_repos_heading {
  width: 487px;
height: 76px;
text-align: center;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
font-family: Nunito Sans;
font-style: normal;
font-weight: 400;
font-size: 56px;
line-height: 76px;

color: #3F3D56;

}

.repo_name {
  font-family: Nunito Sans;
font-style: normal;
font-weight: 400;
font-size: 36px;
line-height: 49px;
  margin:30px;
  margin-left: 100px;
color: #0768FA;
text-decoration: none;
}

.container_developer_repo {
  display: flex;
  align-items: center;
}

.back_all{
  font-size: 24px;
  font-weight:300;
  color:black;
  text-decoration: none;
  text-align: center;
  margin:auto;
  display: flex;
  justify-content: center;
}

.repo_info {
width: 840px;
height: 49px;

font-family: Nunito Sans;
font-style: normal;
font-weight: normal;
font-size: 32px;
margin-left: 100px;
margin-top:10px;
margin-bottom:30px;

color: #3F3D56;

}

.repo_updated {
  width: 260px;
  height: 44px;
  font-family: Nunito Sans;
  font-style: normal;
  font-weight: 400;
  font-size: 27px;
  line-height: 33px;
  color: #3F3D56;
  opacity: 0.4;
  margin-left: 30px;
}

::placeholder {
width: 53px;
height: 33px;

font-family: Nunito Sans;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 33px;
/* identical to box height */


color: #D0CDE1;
}